%h1 Home#index
%p Find me in app/views/home/index.html.haml

- unless current_user
  = link_to "#{t 'user_panel.login'}", new_user_session_path

%ul.nav.nav-tabs.secondary-nav
  %li{:class => "active"}
    %a{:class => "active", :href => "#allCapsules", :"data-toggle" => "tab"}
      = t('index.all_capsuls')
  - if @user_capsuls
    %li
      %a{:href => "#myCapsules", :"data-toggle" => "tab"}
        = t('index.my_capsuls')
  %li
    %a{:href => "#newCapsules", :"data-toggle" => "tab"}
      = t('index.new_capsul')
.tab-content
  .tab-pane.active#allCapsules
    - @capsuls.each do |cap|
      .video-view
        %h5= link_to cap.description, capsul_path(cap)
        %iframe{:src => "http://www.dailymotion.com/embed/video/#{cap.video}", :width => "620", :height => "400", :frameborder => "0"}
    %a{:href => "#{request.protocol}#{request.host_with_port}?limit=#{@limit}&offset=#{@offset + @limit}", :"class" => "next-infinite-loader"} Next
  - if @user_capsuls
    .tab-pane#myCapsules
      - @user_capsuls.each do |cap|
        .video-view
          %h5= link_to cap.description, capsul_path(cap)
          %iframe{:src => "http://www.dailymotion.com/embed/video/#{cap.video}", :width => "620", :height => "400", :frameborder => "0"}
      %a{:href => "#{request.protocol}#{request.host_with_port}?limit=#{@limit}&offset=#{@offset + @limit}", :"class" => "next-infinite-loader"} Next
  .tab-pane#newCapsules
