%h1 user#me
%p Find me in app/views/user/me.html.haml

= link_to "#{t 'capsuls_link.index'}", capsuls_path
%br
%br
= link_to "#{t 'index.new_capsul'}", new_capsul_path
%hr
- @capsuls.each do |capsul|
  %tr
    - owner = User.find(capsul.user_id) if capsul
    - if current_user and owner.id != current_user.id
      %td= link_to "#{owner.username}", user_path(owner)
    - else
      %td [Ma capsule]
    %br
    %td= capsul.description
    %br
    %td= link_to "#{t 'capsuls_link.show'}", capsul
    - if current_user and owner.id == current_user.id
      %td= link_to "#{t 'capsuls_link.destroy'}", capsul, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  %h9 --------------------------------
  %br
