%p#notice= notice

%p
  %b #{t 'capsuls.description'}:
  = @capsul.description
%p
  %b #{t 'capsuls.video'}:
  = @capsul.video
%p
  %b #{t 'capsuls.user'}:
  = @owner.username

- if current_user and @owner.id == current_user.id
  = link_to "#{t 'capsuls_link.edit'}", edit_capsul_path(@capsul)
  \|
= link_to "#{t 'capsuls_link.back'}", capsuls_path
