%p#notice= notice
%p
  %b Content:
  = @capsul.content
%p
  %iframe{:frameborder => "0", :height => "270", :src => "http://www.dailymotion.com/embed/video/#{@capsul.video}?logo=0&hideInfos=1", :width => "480"}
%p
  %b User:
  = User.find(@capsul.user_id).username
- if is_capsule_mine @capsul, current_user
  = link_to 'Edit', edit_capsul_path(@capsul)
%h2 Add a comment:
= form_for([@capsul, @capsul.comments.build]) do |f|
  .field
    = f.label :content
    %br/
    = f.text_area :content
  .actions
    = f.submit
%h4 Comments
- @capsul.comments.each do |comment|
  - if comment.user_id
    %p
      = User.find(comment.user_id).username
    %p
      %b{:style => "color:green;"} Comment:
      = comment.content
