!!!
%html
  %head
    %title Capsule
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .navbar-inner
        .container
          / .btn-navbar is used as the toggle for collapsed navbar content
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / Be sure to leave the brand out there if you want it shown
          %a.brand{:href => "#{root_url}"} Acceuil
          - if current_user
            %a.brand{:href => "#{profile_me_url}"} Profil #{current_user.username}
          / Everything you want hidden at 940px or less, place within here
          .nav-collapse
            - if current_user
              %h6
                you can 
                \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
            / .nav, .navbar-search, .navbar-form, etc
    #user_nav
      - if not user_signed_in?
        = link_to "Sign up", new_user_registration_path
        or #{link_to "sign in", new_user_session_path}
        or
        = link_to "/auth/facebook" do
          = image_tag "f-conect.png"
    = notice
    = alert
    = yield
