<!DOCTYPE html>
<html>
<head>
  <title>Capsule</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <%= render :partial => "shared/menu" %>
  </div>
  <p class="notice"><%= flash[:notice] %></p>
  <p class="alert"><%= flash[:alert] %></p>
  <div class="container">
    <div class="row">
      <div class="span8">
	<%= yield %>
	<br />
	Les deux liens en dessous sont dans le application.html.erb<br />
	<%= link_to "English", :locale=>'en'%><br />
	<%= link_to "French", :locale=>'fr'%><br />
	Il faut les integrer et mettre peut etre un switch avec les flags dessus un truc du genre ...
	<br />
      </div>
      <div class="span4">
	<div class="well">
	  <%= render :partial => "shared/right_sidebar" %>
	</div>
      </div>
    </div>
  </div>
  <% if !current_user %>
  <%= render :partial => "shared/login_form" %>
  <% end %>
</body>
</html>
